@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #080604;
  background-image: url(../images/beige-paper.png);
  background-repeat: repeat;
  background-color: #e1dee3;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "IM Fell English", cursive;
}

a {
  color: #b9314f;
}

#headerWrapper,
#contentWrapper {
  display: flex;
  flex-direction: row;
}

#headerWrapper {
  align-items: center;
  height: 20vh;
}

#headerTitle > * {
  color: #080604;
  text-decoration: none;
  font-size: 1.2em;
}

header {
  background-color: #d5a18e;
}

#contentWrapper {
  flex-wrap: wrap;
  padding-top: 1rem;
}

nav,
#logo {
  display: flex;
  justify-content: center;
  min-width: 15%;
  max-width: 15%;
}

#logoImage {
  width: 50%;
}

#content,
#headerTitle {
  flex-wrap: wrap;
}

#content {
  width: 70%;
}

nav > ul {
  list-style-type: none;
}

footer {
  color: #e1dee3;
  background-color: #3a4f41;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  #logo {
    display: none;
  }
}
