@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans&display=swap");

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 4rem;
  color: #07090a;
  background-image: url(../images/beige-paper.png);
  background-repeat: repeat;
  background-color: #c9ac7e;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-family: "Alice", serif;
  margin: 0;
}

a {
  color: #23556e;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#pageWrapper {
  display: flex;
  flex-direction: row;
}

#col-1 {
  width: 15rem;
  padding: 0;
  margin: 0;
}

#col-1 > * {
  margin: 0 auto;
  padding: 0 1rem;
}

#col-2 {
  width: 100%;
}

header {
  background-color: #1f4745;
  padding: 0;
}

#headerTitle {
  margin: 0;
  padding: 0.7rem 2rem;
}

#headerTitle > a {
  color: #e0dbd3;
  text-decoration: none;
  font-size: 0.8em;
}

#logo {
  display: block;
  background-repeat: no-repeat;
  height: 155px;
  background-size: 155px;
  background-image: url(../images/NV_logo.png);
}

#menu {
  margin-top: 2rem;
}

#menu > ul {
  list-style: square;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#menu > ul > li {
  padding-bottom: 0.2rem;
}

#hamburgerMenu span {
  display: block;
  width: 33px;
  height: 4px;
}

#content {
  width: 90%;
  margin: 2rem 0;
  padding: 2rem;
}

.box {
  border: 1px solid #140c03;
  background-color: #e0dbd3;
}

.listHeader {
  margin-bottom: 0.3em;
}

footer {
  position: absolute;
  height: 3rem;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 0.7rem 0;
  color: #e0dbd3;
  background-color: #1f4745;
}

@media screen and (max-width: 600px) {
  #logo {
    display: none;
  }
}
